.kaufman__triangle {
  background-image: url("../../../images/kaufman-triangle.svg");
  z-index: 1;
  background-size: cover;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  position: absolute;
  display: block;
  object-fit: fill;
}
