.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  justify-content: center;
}

.header {
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  overflow: hidden;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  margin: auto 0 auto 64px;
  font-size: 102px;
  width: 730px;
  z-index: 2;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  z-index: 2;
  line-height: 25px;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
}

.two-columns {
  margin: 100px auto 0 auto;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  text-align: justify;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.section-title {
  margin: 0 auto 0 auto;
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  z-index: 2;
  position: relative;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle {
  margin: 20px auto 0 auto;
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  color: white;
}

.video {
  padding-top: 100px;
}

.video__iframes {
  margin: 50px auto -60px auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.video__iframe {
  width: 515px;
  height: 316px;
  background-color: grey;
}

.oakley {
  background-color: #f2f2f2;
  padding-top: 60px;
}

.techniques {
  width: 80%;
  padding-top: 100px;
  margin: 0 auto 0 auto;
}

.cards {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
  margin: 0 auto 0 auto;
}

.cards__item {
  width: 240px;
  justify-content: center;
}

.cards__image {
  margin: 60px 40px 0 40px;
  width: 160px;
  height: 160px;
  border-radius: 80px;
}

.cards__title {
  margin: 43px auto 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.cards__description {
  margin: 16px auto 0 auto;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
}

.table {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto 0 auto;
  flex-wrap: wrap;
}

.table_theme_dark {
  background-color: #1f1f1f;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
  z-index: 2;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  color: white;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  justify-content: center;
  position: relative;
  padding-top: 100px;
  box-sizing: border-box;
}

.feynman__title {
  width: 648px;
  margin: 0 auto 0 auto;
  text-align: center;
  z-index: 2;
  position: relative;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;

}

.feynman__subtitle {
  position: relative;
  text-align: center;
  margin: 70px auto 0 auto;
  z-index: 2;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 637px;
  width: 867px;
}

.feynman__link {
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 40px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.khan {
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  padding-top: 100px;
  margin: 0 auto 0 auto;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  margin: 50px 0 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
}

.khan__quote-author {
  margin: 36px 0 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  margin: 10px 0 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  margin: 68px 0 0 0;
  display: flex;
  justify-content:flex-start;
}

.khan__book-pic {
  margin: 0 48px 0 0;
}

.khan__buy-link {
  margin: 0;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
}

.kaufman {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  overflow: hidden;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  z-index: 1;
  background-size: cover;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  position: absolute;
  display: block;
}

.resources {
  padding-top: 100px;
  padding-bottom: 217px;
  background-color: #f2f2f2;
}

.resources__logo-zone {
  margin: 80px auto 0 auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  display: flex;
  box-sizing: border-box;
}

.footer__columns {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  justify-content: space-between;
  position: relative;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.logo_place_footer {
  z-index: 2;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__column {
  justify-content: space-between;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: block;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation {
  animation-name: rotation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
